<!-- Header -->

<section id="header">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <section class=" text-center mx-5 my-1">
                <div class="row">
                    <div class="col-md-6 mt-4 pt-4 order-2 order-md-1">
                        <h1 class="display-4 text-primary ">
                            Discover books in our large library
                        </h1>
                        <p class="para lead text-black-50 d-none d-lg-block p-3">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Fuga repudiandae aliquam recusandae eum autem quo aliquid quisquam
                            assumenda, quibusdam doloremque.</p>
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <img class="img-fluid" src="images/moving_books.gif" alt="">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>